#body img, #body video{
    width: 1500px;
    height: 850px;
    position: absolute;
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 650px;
    margin-left: 600px;
    z-index: 1000;

}
body {
    height: 600px;
    display: flex;
    margin: 0;
    padding: 0;
    color: red;
    text-shadow: 0 0 5px black;
}
#button {
    font-size: 20px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px red;
}

