body {
    background-color: grey;
    color: sandybrown;
    text-shadow: 1px 1px 10px red;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 80px;
    background-color: sandybrown;
}

.col-3 {
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 1px 50px darkgoldenrod ;
}

.row {
    justify-content: center;
}

p {
    font-size: 36px;
    border-top: 10px solid goldenrod;
}

.row h2 {
    border-bottom: 10px solid goldenrod;
    margin-bottom: 0;
}




