body {
    background-color: grey;
    color: sandybrown;
    text-shadow: 1px 1px 30px red;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family: 'Hi Melody', cursive;
    display: flex;
    justify-content: center;
    font-size: 100px;
    background-color: black;
    margin-bottom: 50px;
}
#neon {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.col-3 {
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 1px 50px black ;
}

.row {
    justify-content: center;
}

p {
    font-size: 36px;

}





#search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#searched-coffee {
    width: 30%;
}

input {
    width: 200px;
    height: 30px;
}

.add-coffee {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#contribute-coffee {
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
}






/*NEON*/
:root {
    /* Base font size */
    font-size: 10px;

    /* Set neon color */
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}

body {
    /*font-family: 'Exo 2', sans-serif;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background: #000;
}

h1 {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    color: #fff;
    /*padding: 4rem 6rem 5.5rem;*/
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1:focus {
    outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow:
                -0.2rem -0.2rem 1rem #fff,
                0.2rem 0.2rem 1rem #fff,
                0 0 2rem var(--neon-text-color),
                0 0 4rem var(--neon-text-color),
                0 0 6rem var(--neon-text-color),
                0 0 8rem var(--neon-text-color),
                0 0 10rem var(--neon-text-color);

        box-shadow:
                0 0 .5rem #fff,
                inset 0 0 .5rem #fff,
                0 0 2rem var(--neon-border-color),
                inset 0 0 2rem var(--neon-border-color),
                0 0 4rem var(--neon-border-color),
                inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}


#card {
    box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
}
#card h2 {
    font-size: 36px;
    margin-top: 10px;
}