body {
    background-color: black;
}

/*.nav-bar {*/
/*    background-color: gray;*/
/*    justify-content: space-between;*/
/*}*/

/*.left-list {*/

/*}*/

/*.logo {*/

/*}*/
.nav-bar {
    border: 5px solid green;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

/*.nav-bar > div {*/
/*    flex: 1;*/
/*}*/


.left-list {
    background-color: red;
}


.logo {
    background-color: yellow;

 }


.right-list {
    background-color: purple;

}


a {
    text-decoration: none;
}

li {
    list-style: none;
}