body {
    background-color: black;
}

h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    size: 3em;
    padding-bottom: .2em;
    padding-top: .2em;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

li, .right-item {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

nav {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-list li{
    display: inline-block;
    padding: .5em;
}

.logo {
    font-size: x-large;
    margin: auto;
}

.right-list div {
    display: inline-block;
    padding: .5em;
}

a:hover {
    color: blue;
}
