hr {
    border: 3px solid mintcream;
    box-shadow: 2px 2px purple;
}

#head {
    text-align: center;
}

.links p {
    margin: 0;
}

body {
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    background-color: grey;
    color: mintcream;
}

h1 {
    color: mintcream;
    text-shadow: 2px 2px purple;
}

h2 {
    color: mintcream;
    text-shadow: 2px 2px purple;
}