body, html {
    background-color: white;
}


/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    background-color: lightgray;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*}*/


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: hotpink;
}


.nav-bar {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#nav-logo {
    margin-right: 255px;
}

.nav-bar a {
    margin-left: 100px;
    align-self: center;
    padding-right: 100px;
}

.menu-btn {
    transition: all 1s ease-in-out;
    margin: auto;
    padding-right: 100px;
}

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px hotpink;
    transition: all 1s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px hotpink;
    transition: all 2s ease-in-out ;
}

.menu-btn_burger::before{
    transform: translateY(-15px);
}
.menu-btn_burger::after{
    transform: translateY(15px);
}

.menu-btn.open .menu-btn_burger{
    transform: translateY(0px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before{
    transform: rotate(300deg) translate(15px, -30px);
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(300deg) translate(-20px, 30px);
}

.middle {
    /*display: block;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
    background-color: purple;
    /*padding-bottom: 30px;*/
    border: 10px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.middle h2 {
    writing-mode: vertical-rl;
    text-orientation: upright;

    font-size: 25px;
    padding-left: 40px;
    padding-right: 50px;
}

.middle a {
    font-size: 25px;
    padding-right: 25px;
    padding-left: 100px;
}

.middle img {
    /*padding-right: 1250px;*/
    /*padding-left: 100px;*/
    border: 10px double black;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/

}
/*.left {*/
/*    display: flex;*/
/*    background-color: green;*/
/*    flex-direction: column;*/
/*    padding-top: 200px;*/
/*}*/

/*.headshots {*/
/*    place-self: center;*/
/*    flex-direction: column;*/
/*}*/

/*#head1{*/
/*    padding-bottom: 10px;*/
/*    padding-left: 300px;*/
/*}*/

/*.bottom {*/
/*    background-color: red;*/
/*}*/


/*.footer {*/
/*    background-color: orange;*/
/*}*/



