/*body, html {*/
/*    background-color: gray;*/
/*    margin: 0;*/
/*}*/

/*a {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

/*a:hover {*/
/*    color: hotpink;*/
/*}*/


/*.nav-bar {*/
/*    background-color: black;*/
/*    box-shadow: 0 3px 5px hotpink;*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/


/*#nav-logo {*/
/*    margin-right: 300px;*/
/*    margin-left: 480px;*/
/*}*/

/*.nav-bar a {*/
/*    margin: auto;*/
/*    align-content: center;*/
/*}*/

/*.menu-btn {*/
/*    margin-left: 60px;*/
/*    margin-top: 70px;*/
/*    transition: all 1s ease-in-out;*/
/*}*/

/*.menu-btn_burger {*/
/*    width: 50px;*/
/*    height: 6px;*/
/*    background: white;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 3px 5px hotpink;*/
/*    transition: all 1s ease-in-out;*/
/*}*/

/*.menu-btn_burger::before,*/
/*.menu-btn_burger::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 50px;*/
/*    height: 6px;*/
/*    background: white;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 2px 5px hotpink;*/
/*    transition: all 2s ease-in-out;*/
/*}*/

/*.menu-btn_burger::before {*/
/*    transform: translateY(-15px);*/
/*}*/

/*.menu-btn_burger::after {*/
/*    transform: translateY(15px);*/
/*}*/

/*.menu-btn.open .menu-btn_burger {*/
/*    transform: translateY(0px);*/
/*    background: transparent;*/
/*}*/

/*.menu-btn.open .menu-btn_burger::before {*/
/*    transform: rotate(300deg) translate(15px, -30px);*/
/*}*/

/*.menu-btn.open .menu-btn_burger::after {*/
/*    transform: rotate(300deg) translate(-20px, 30px);*/
/*}*/

/*.middle {*/
/*    display: flex;*/
/*    !*display: flex;*!*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    margin-top: 200px;*/
/*    background-color: black;*/
/*    box-shadow: 0px 0px 10px 10px hotpink;*/
/*    border: 100px solid black;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*}*/

/*.middle h2 {*/
/*    color: white;*/
/*    writing-mode: vertical-rl;*/
/*    text-orientation: upright;*/
/*    font-size: 25px;*/
/*    margin-right: 20px;*/
/*}*/

/*.middle a {*/
/*    font-size: 25px;*/
/*    margin-left: 100px;*/
/*    writing-mode: vertical-rl;*/
/*    text-orientation: upright;*/
/*    text-align: center;*/
/*    justify-items: center;*/
/*}*/

/*.middle img {*/
/*    border: 10px double black;*/
/*    margin-right: 20px;*/
/*}*/

/*.middle2 {*/
/*    display: inline-flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*}*/

/*#head2 {*/
/*    text-align: center;*/
/*    font-size: 100px;*/
/*}*/

/*.middle2 h3 {*/
/*    text-align: center;*/
/*}*/

/*.middle2 p {*/
/*    margin-left: 220px;*/
/*    margin-right: 220px;*/
/*    border: 1px solid black;*/
/*    box-shadow: 0px 0px 10px 10px hotpink;*/
/*}*/
/*footer {*/
/*    display: flex;*/
/*    border: 2px solid black;*/
/*    margin-top: 10px;*/
/*    justify-content: space-between;*/
/*}*/

/*.foot-left {*/
/*    border: 2px solid black;*/
/*    margin-left: 60px;*/
/*    padding-top: 20px;*/
/*}*/

/*footer h2 {*/
/*    margin-left: 10px;*/
/*}*/

/*.foot-right {*/
/*    align-content: flex-end;*/
/*    border: 2px solid black;*/
/*    margin: auto;*/
/*}*/

/*.icons {*/
/*    margin-top: 20px;*/
/*    margin-right: 75px;*/
/*}*/

/*.material-icons {*/

/*}*/

/*-----------NEW PRACTICE !!!!! ---------*/
/*--------------------*/
/*-------------------*/
/*------------------*/

@media screen and (max-width: 980px) {


    body {
        background-color: #353630;
        color: white;
        font-family: 'Karla', sans-serif;
    }

    a {
        color: white;
    }
    hr {
        width: 93%;
        border:  1px solid grey;
        height: 1px;
        background-color: #353630;
        border-radius: 100px;
        margin-bottom: 50px;
    }


    .whole {
        display: flex;
        flex-direction: column;
    }

    .header {
        margin-top: 30px;
        margin-left: 33px;
    }
    .header2 {
        margin-left: 33px;
        margin-bottom: 0;
    }


    .large-img {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 13px;
    }

    .large-img img {
        height: 368px;
        width: 900px;
        border: 1px solid black;
        border-radius: 10px;
    }

    .bottom-img {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
    .bottom-img img {
        width: 285px;
        height: 165px;
        margin-right: 17px;
        border: 1px solid black;
        border-radius: 10px;
    }
    .bottom-img p {
        padding: 0;
        margin: 5px 0px 18px 0px;
    }
}








/* !!!!!!!!!! SET MEDIA QUERY FOR MAX WITH THAT PAGE CAN BE CLOSED, NOT ''(MAX-WIDTH)''
               LIKE APPLE TV APP !!!!!!!!!!!!!!!!*/























