
h1 {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}

h1, h2 {
    color: red;
    text-decoration: underline;
}

body {
    background-color: yellow;
    background-image: url(../Images/Selectors3.jpeg);
    background-size: 1px; /*300px*/
    font-family: 'Oswald', sans-serif;
}

li {
    list-style: redacted;
}

td, tr {
    padding: 50px;
    font-size: x-large;

}

a:visited {
    color: tan;
}
a:hover {
    color: fuchsia;
}
