body {
    margin: 0;
    padding: 0;
}

/*NAVBAR*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    height: 40px;
    margin-bottom: 30px;
}

#cityName{
    padding-top: 10px;
}


/*INPUT*/
label{
    padding-top: 10px;
}

.input {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 30px;
}

/*CARDS*/
.card{
    text-align: left;
}
p{
    font-size: 10px;
}

.card-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



